.span11
  %h1 Pierwsze kroki
  %p
    Przystępując do pracy z nowym systemem warto zmienić hasło jakie otrzymaliśmy od administratora. Aby tego dokonać proszę o kliknięcie ikonki z imieniem i nazwiskiem znajdującej się w prawnym górym roku ekranu. Pojawi się wtedy menu, z którego wybieramy opcję "Zmień hasło". Jako pierwsze podajemy stare hasło, po czym wprowadzamy nowe i potwierdzamy wprowadzając je ponownie, a następnie kończymy klikając przycisk "Zmień".
    %br
    %br
    W razie problemów proszę o kontakt. 
  %div
    %span.badge.badge-success Wysłane 2013-04-30 20:28:01 przez Bartek Bubacz
    .pull-right
      %span.label pomoc
      %span.label rady
      %span.label wszyscy