#division-edit.modal.hide.fade.in
  %div.modal-header
    %button.close{"data-dismiss" => "modal", "aria-hidden" => "true"} &times;
    %h3 Edycja klasy
  
  #edit-division-form.modal-body.modal-body-fixed  
    = render :partial => 'form'